.wrapper {
    border: 1px solid #1b5e20;
    .header {
        background-color: #1b5e20;
        padding: 0.5rem;
    }

    .body {
        background-image: url(/assets/icons/angular.png);
        padding: 1rem;
    }
}
